<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skeleton v2</title>
    <base href="{{ base_url() }}/">

    <!-- STYLE -->
    <!-- Google Font: Source Sans Pro -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="core-assets/adminlte/css/adminlte.min.css?{{ mtime('core-assets/adminlte/css/adminlte.min.css') }}">
    <link rel="stylesheet" href="core-assets/css/alfi.css?{{ mtime('core-assets/css/alfi.css') }}">
    <!-- DateTime -->
    <!--link rel="stylesheet" href="assets/bootstrap-datepicker/css/bootstrap-datepicker.min.css"-->
    <link rel="stylesheet" href="assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <!-- Iconsets -->
    <link rel="stylesheet" href="core-assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="assets/font-awesome-animation/css/font-awesome-animation.min.css">
    <link rel="stylesheet" href="assets/font-goodtimes/css/font-good_times.css">
    <!-- Additional assets -->
    <link rel="stylesheet" href="assets/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="assets/select2/css/select2.min.css">
    <link rel="stylesheet" href="assets/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    
    <link rel="stylesheet" href="assets/toastr/toastr.min.css">
    <link rel="stylesheet" href="css/app.css?{{ mtime('css/app.css') }}">
    <style id="js-redefined-classes"></style>

    <!-- SCRIPTS -->
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="assets/jquery-cookie/jquery.cookie.js"></script>
    {# A bootstrap-confirmation.js miatt van itt ez a blokk #}
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js?{{ mtime('core-assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="core-assets/adminlte/js/adminlte.min.js?{{ mtime('core-assets/adminlte/js/adminlte.min.js') }}"></script>
    <script src="assets/moment/moment.min.js"></script>
    <script src="assets/moment/locale/hu.js"></script>
    <!--script src="assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script-->
    <!--script src="assets/bootstrap-datepicker/locales/bootstrap-datepicker.hu.min.js"></script-->
    <script src="assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
    <script src="assets/pace/js/pace.min.js"></script>
    <script src="assets/toastr/toastr.min.js"></script>
    <script src="assets/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="assets/select2/js/select2.full.js"></script>
    <script src="js/app.js?{{ mtime('js/app.js') }}"></script>
    <!-- ALFI scripts -->
    <script src="core-assets/js/alfi.js?{{ mtime('core-assets/js/alfi.js') }}"></script>
    <script src="//dev.profile.niif.hu/app/app.js?app_id={{ appcenter_app_id }}&token={{ appcenter_token }}"></script>

    {% block head %} {% endblock %}

</head>
<body class="hold-transition navbar-dark sidebar-mini {{ cookie['sidebar_collapse'] }}">

    <div class="wrapper">

        <nav class="main-header navbar navbar-expand border-bottom-0" role="navigation" style="height: 56px;">

            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link sidebar-toggle" data-widget="pushmenu">
                        <i class="fa-fw fas fa-bars"></i>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <div>
                        <div id="appcenter"></div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-cogs"></i>
                    </a>
                </li>
            </ul>

        </nav>

        <aside class="main-sidebar sidebar-dark-danger elevation-4">

            <!-- Brand Logo -->
            <a href="./" class="logo brand-link navbar-kifuv2" style="text-align: center; height: 56px; line-height: 56px; padding: 0;">
                <div class="logo-xl d-block w-100">
                    <i class="fa-fw far fa-skull"></i> Skeleton
                </div>
                <div class="logo-xs d-block w-100">
                    <i class="fa-fw far fa-skull"></i>
                </div>
              <div style="clear: both;"></div>
            </a>

            <div class="sidebar">

                <nav class="mt-2">

                    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-header">Example group</li>

                        <li class="nav-item has-treeview menu-open">
                            <a class="nav-link {{ is_active_path('documentation') }}" href="#">
                                <i class="far fa-fw fa-users-cog"></i>
                                <p>
                                    Documentation
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview " style="display: block;">

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/alert') }}" href="{{ path_for('documentation_alert') }}">
                                        <i class="far fa-fw fa-exclamation-triangle"></i>
                                        <p>Alert</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/ajax_url') }}" href="{{ path_for('documentation_ajax_url') }}">
                                        <i class="far fa-fw fa-link"></i>
                                        <p>ajax-url</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/ajax_modal') }}" href="{{ path_for('documentation_ajax_modal') }}">
                                        <i class="far fa-fw fa-window"></i>
                                        <p>ajax-modal</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/bb') }}" href="{{ path_for('documentation_bb') }}">
                                        <i class="far fa-fw fa-window"></i>
                                        <p>BlurBox</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/ajax_form') }}" href="{{ path_for('documentation_ajax_form') }}">
                                        <i class="far fa-fw fa-edit"></i>
                                        <p>ajax-form</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/datetimepicker') }}" href="{{ path_for('documentation_datetimepicker') }}">
                                        <i class="far fa-fw fa-calendar"></i>
                                        <p>Date-, DateTimePicker</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/datatable') }}" href="{{ path_for('documentation_datatable') }}">
                                        <i class="far fa-fw fa-table"></i>
                                        <p>Datatable</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/css-and-js') }}" href="{{ path_for('documentation_css_js') }}">
                                        <i class="far fa-fw fa-paint-brush"></i>
                                        <p>CSS & JS</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link {{ is_active_path('documentation/monolog') }}" href="{{ path_for('documentation_monolog') }}">
                                        <i class="far fa-fw fa-file-alt"></i>
                                        <p>Monolog</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>

                </nav>
            </div>

        </aside>

        <div id="temp-class-g8rw374grt834"></div>
        {% include "layouts/_control_sidebar.twig" %}

        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    {% block body_content_header %} {% endblock %}
                </h1>
            </section>

            <section class="content">
                <div class="container-fluid">
                    {% block body_content %} {% endblock %}
                </div>
            </section>
        </div>

        <footer class="main-footer d-print-none">
            <div class="float-right hidden-xs">
                ALFI
            </div>
            Copyright &copy; 2017-{{ now | date('Y') }} <a href="http://kifu.gov.hu" >KIFÜ</a>
        </footer>

    </div>


    <div class="fade modal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title float-left"></h4>
                    <a class="close"><i class="fa-fw far fa-times"></i></a>
                </div>
                <div class="modal-body">
                    <div class='loader'><i class='fa fa-spin fa-spinner'></i></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>



    <!-- ALFI DEFAUTLS -->

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    {% block body_tail %} {% endblock %}

</body>
</html>